* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header_jobs {
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: left;
  flex-direction: row;
  align-items: center;
}
@media only screen and (max-width: 700px) {
  .header_jobs {
    display: flex;
  }
}

.navbar {
  width: 90%;
  padding: 1.5em;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navbar .navbar--links {
  margin-right: 1em;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-decoration: none;
  font-size: 18px;
  color: white;
  font-family: "Radio Canada", sans-serif;
  padding: 0.5em;
}
.navbar .navbar--links:hover {
  border-bottom: 0.5px solid white;
  margin-right: 1em;
}

.footer-jobs {
  width: 100%;
  background-color: black;
  color: white;
  height: 80px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.footer-jobs .footer--p {
  width: 40%;
  display: flex;
  justify-content: center;
}
.footer-jobs p {
  font-size: 20px;
  font-family: "Satisfy", cursive;
}
.footer-jobs p i {
  margin-right: 0.5em;
  font-size: 23px;
}

#info-jobs {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#info-jobs .box {
  width: 30%;
  border: 3px solid black;
  margin: 1em;
  padding: 0.5em;
  border-radius: 10px;
  text-align: center;
  background-color: rgb(141, 218, 141);
}
@media screen and (max-width: 980px) {
  #info-jobs .box {
    width: 45%;
  }
}
@media screen and (max-width: 640px) {
  #info-jobs .box {
    width: 90%;
  }
}

.form {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1em;
}
.form .buttons-form {
  margin-left: 1em;
  display: flex;
  justify-content: center;
}
.form .selects--search {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 535px) {
  .form .selects--search {
    justify-content: column;
  }
}
.form .btn--searchandclear {
  display: flex;
}
@media screen and (max-width: 675px) {
  .form .btn--searchandclear {
    width: 100%;
    justify-content: center;
  }
}

.div-spinner {
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  display: none;
  justify-content: center;
}

.form-style {
  top: 15%;
  left: 25%;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  border: 2px solid black;
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  background-color: beige;
  z-index: 20;
  border-radius: 1em;
  overflow: hidden;
  padding: 1.5em;
  background-color: rgb(198, 198, 198);
}

.section-footervh {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

body {
  background-color: rgb(250, 255, 207);
}

.create-jobs {
  border: 1px solid white;
  border-radius: 1em;
  padding: 0.6em;
  font-family: "Macondo", cursive;
  font-size: 18px;
  cursor: pointer;
}

.create-jobs:hover {
  border: 2px solid green;
  background-color: black;
  color: white;
  padding: 0.6em;
  border-radius: 1em;
}

.btn-info {
  margin-top: 1em;
  background-color: rgb(93, 93, 216);
  border-radius: 1em;
  padding: 0.4em;
  cursor: pointer;
}

.btn-info:hover {
  border: rgb(93, 93, 216);
  color: whitesmoke;
  padding: 0.4em;
  border-radius: 1em;
  margin-top: 1em;
}

#btn--search {
  padding: 0.3em;
  border-radius: 1em;
  background-color: rgb(78, 78, 191);
  cursor: pointer;
  color: white;
  margin-left: 1em;
}

#btn--clear {
  margin-left: 1em;
  padding: 0.5em;
  border-radius: 1em;
  background-color: rgb(205, 137, 36);
  cursor: pointer;
  font-weight: bolder;
}

.btn-edit, .btn-delete {
  padding: 0.6em;
  border-radius: 1em;
  font-weight: bolder;
  margin-top: 0.5em;
  cursor: pointer;
}

.btn-delete {
  background-color: rgb(199, 57, 57);
}

.btn-edit {
  background-color: rgb(41, 107, 41);
}

#alert-delete-forsure, #alert-cancel {
  padding: 0.6em;
  border-radius: 1em;
  cursor: pointer;
  margin-right: 1em;
}

#alert-delete-forsure {
  background-color: red;
  color: white;
}

#alert-cancel {
  background-color: whitesmoke;
  color: black;
}

#create-submit, #edit-submit {
  width: 100px;
  margin-top: 1em;
  cursor: pointer;
  border-radius: 1em;
  padding: 0.5em;
  font-weight: bolder;
}

#create-submit {
  background-color: rgb(86, 86, 198);
  border: 1px solid rgb(86, 86, 198);
}

#edit-submit {
  background-color: rgb(83, 183, 83);
  border: 1px solid rgb(83, 183, 83);
}

h2 {
  font-family: "Bebas Neue", cursive;
}

p, span {
  font-family: "Indie Flower", cursive;
}

span {
  font-weight: bolder;
}

h3 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 15px;
}

.select-forms {
  padding: 0.5em;
  border-radius: 0.8em;
  margin: 0.5em;
  background-color: rgb(158, 96, 158);
  font-weight: bolder;
  cursor: pointer;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #09f;
  display: none;
  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.alert-delete {
  width: 50%;
  border: 2px solid red;
  border-radius: 2em;
  position: fixed;
  top: 15%;
  left: 35%;
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  outline: 2px solid black;
  background-color: beige;
  z-index: 20;
  border-radius: 1em;
  overflow: hidden;
  padding: 1.5em;
  background-color: rgb(198, 198, 198);
}

#overlay {
  position: fixed;
  opacity: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
}

#form--createjob, #form--editjob {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: bolder;
}
#form--createjob .inputs, #form--editjob .inputs {
  margin-bottom: 1em;
}

/*# sourceMappingURL=styles.css.map */
