.create-jobs{
    border: 1px solid white;
    border-radius: 1em;
    padding: 0.6em;
    font-family: 'Macondo', cursive;
    font-size: 18px;
    cursor: pointer;
}
.create-jobs:hover{
    border: 2px solid green;
    background-color: black;
    color: white;
    padding: 0.6em;
    border-radius: 1em;
}
.btn-info{
    margin-top: 1em;
    background-color: rgb(93, 93, 216);
    border-radius: 1em;
    padding: 0.4em;
    cursor: pointer;
    
}
.btn-info:hover{
        border:rgb(93, 93, 216);
        color: whitesmoke;
        padding:0.4em;
        border-radius: 1em;
        margin-top: 1em;
    }
#btn--search{
    padding: 0.3em;
    border-radius: 1em;
    background-color: rgb(78, 78, 191);
    cursor: pointer;
    color: white;
    margin-left: 1em;
}  
#btn--clear{
    margin-left: 1em;
    padding: 0.5em;
    border-radius: 1em;
    background-color: rgb(205, 137, 36);
    cursor: pointer;
    font-weight: bolder;
}
.btn-edit , .btn-delete {
    padding: 0.6em;
    border-radius: 1em;
    font-weight: bolder;
    margin-top: 0.5em;
    cursor: pointer;
}
.btn-delete{
    background-color: rgb(199, 57, 57)
}

.btn-edit{
   background-color: rgb(41, 107, 41)
}
#alert-delete-forsure, #alert-cancel{
    padding: 0.6em;
    ;
    border-radius: 1em;
    cursor: pointer;
    margin-right: 1em;
}

#alert-delete-forsure{
    background-color: red;
    color: white;
}
#alert-cancel{
    background-color: whitesmoke;
    color:black;
}

#create-submit, #edit-submit{
    width: 100px;
    margin-top: 1em;
    cursor: pointer;
    
    border-radius: 1em;
    padding: 0.5em;
    font-weight: bolder;
}
#create-submit{
    background-color: rgb(86, 86, 198);
    border: 1px solid rgb(86, 86, 198);
}
#edit-submit{
    background-color: rgb(83, 183, 83);
    border: 1px solid rgb(83, 183, 83);
}