.navbar{
width: 90%;
padding: 1.5em;
display: flex;
align-items: center;
flex-direction: row;
.navbar--links{
    margin-right: 1em;
    @include links ($decoration: none, $font-size: 18px, $color: white);
    font-family: 'Radio Canada', sans-serif;
    padding: 0.5em;
}
.navbar--links:hover{
    border-bottom: 0.5px solid white;
    margin-right: 1em;
}
}