#info-jobs{
    width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   
   .box{
       width: 30%;
       height: 300px;
       border:3px solid black;
       margin: 1em;
       padding: 0.5em;
       border-radius: 10px;
       text-align: center;
       background-color: rgb(141, 218, 141);
       .p-description{
       max-height: 135px;
       overflow: hidden;
   }
  
       @media screen and (max-width: 980px){
width: 45%;
       }
   
   @media screen and (max-width: 640px){
       width: 90%;
   }
   
} 
}
.box-moredetail{
    height: auto  !important;
 .p-moredetail{
       height: auto !important;
       overflow:visible;
   }   
}


.form{
    width: 100%;
    display:flex;
    justify-content: center;
    padding: 1em;
    .buttons-form{
        margin-left: 1em;
        display:flex;
        justify-content: center;
    }
    .selects--search{
        width: 80%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        @media screen and (max-width: 535px){
            justify-content: column;
        }
    }
    .btn--searchandclear{
        display: flex;
        @media screen and (max-width: 675px){
            width: 100%;
            justify-content: center;
        }
    }
}
.div-spinner{
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    display: none;
    justify-content: center;
}

.form-style{
  top: 15%;
  left: 25%;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  border: 2px solid black;
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  background-color: beige;
  z-index: 20;
  border-radius: 1em;
  overflow: hidden;
  padding: 1.5em;
  background-color: rgb(198, 198, 198);
  @media screen and (max-width: 700px){
width: 90%;
left:5% ;
  }
}

.section-footervh{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}
